body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.about {
  z-index: 10;
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60vh;
  position: relative;

  padding-left: 1.5vw;
  /* background: linear-gradient(180deg, #002aff00 ,#005c91 50%); */
}

.glass-effect {
  background-color: rgba(255, 255, 255, 0.075);
  height: 95vh;
  width: 95vw;
  border-radius: 40px;
  align-items: center;
  backdrop-filter: blur(100px);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);

  display: flex;
  box-sizing: border-box;
  margin: 0;
  flex-direction: column;
}

.def {
  color: rgb(86, 156, 214);
}

#hello-heading {
  opacity: 0;
  left: 0;
  width: 100vw;
  padding-left: 10vw;
  padding-top: 30px;
  color: rgb(220, 220, 170);
  font-family: "Raleway", sans-serif;
  font-weight: 7000;
  font-size: 4vw;
}

.type-effect {
  color: rgb(255, 230, 1);
  background-color: rgba(0, 94, 255, 0.41);
  padding-left: 10px;
  padding-right: 10px;
}

.home-back {
  position: fixed;
  top: 0;
  left: 0;
}

#mainHeading {
  position: fixed;
  z-index: 3;
  margin: auto;
  height: 100vh;
  width: 100vw;
  top: 0;

  color: white;
  font-family: "Raleway", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 40vh;

  font-size: 4vw;
}

#scroll {
  color: white;
  font-family: "Raleway", sans-serif;
  text-align: center;

  width: 100%;
  height: 100%;
  font-size: 1rem;

  position: absolute;
  z-index: 100000;
  padding-top: 20px;
}

@media (max-width: 768px) {
  #mainHeading {
    font-size: 2rem;
    padding: 40vh 0;
  }
  #hello-heading {
    font-size: 2rem;
  }
  .glass-effect {
    height: 90vh;
    width: 90vw;
  }
  .about {
    height: 150vh;
    width: 100vw;
  }
}

.hidden {
  opacity: 0;
  transform: translateX(-80%);
  filter: blur(10p);
  transition: all 1s;
}

.hidden-r {
  opacity: 0;
  transform: translateX(80%);
  filter: blur(10px);
  transition: all 1s;
}

.fade-in {
  opacity: 0;
  transform: scale(0%);
  filter: blur(20px);
  transition: all 0.7s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: scale(100%);
}

.magic {
  z-index: 10;
  background: linear-gradient(to right, #002aff, #71f3ff, #002aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  background-size: 200%;
  animation: background-pan 2s infinite;
  animation-timing-function: linear;
  text-shadow: 0 0 10px rgba(4, 230, 250, 0.543);
}

.test {
  width: 100vw;
  height: 100vh;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

/* VIEW PORTFOLIO SECTION */
/* View Portfolio Section */

.view-portfolio-sec {
  position: relative;

  top: -30vh;
  width: 100vw;
  height: 140vh;
  background-image: linear-gradient(180deg, #002aff00, rgb(12, 52, 53) 30%);
  z-index: 100;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 4vw;
  text-align: center;
  padding-top: 20vh;
  font-weight: bold;

  padding-top: 50vh;
}

.portfolios {
  padding-top: 20vh;
  width: 100vw;
  height: auto;
  z-index: 100;
  display: flex;
  gap: 50px;
  justify-content: center;
}

/* NEON PORTFOLIO BUTTONS */

.neon {
  text-align: right;
  z-index: 12000;
  height: 200px;
  width: 200px;
  padding: 10px;
  position: relative;
  display: inline-block;
  font-size: 20px;

  color: #03e9f4;

  background-size: 190px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}
.neon:hover {
  background: #03e9f4;

  color: #050801;
  box-shadow: 0 0 50px #03e9f4, 0 0 250px #03e9f4, 0 0 500px #03e9f4,
    0 0 2000px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.neon:nth-child(1) {
  filter: hue-rotate(270deg);
}
.neon:nth-child(2) {
  filter: hue-rotate(180deg);
}
.neon:nth-child(3) {
  filter: hue-rotate(0deg);
}
.neon:nth-child(4) {
  filter: hue-rotate(110deg);
}

.neon span {
  position: absolute;
  display: block;
}
.neon span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.neon span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.neon span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.neon span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* FRONT PAGE MOVING INTERACTIVE BLOB GRADIENTS--------------------- */
:root {
  --color-bg1: rgb(8, 10, 15);
  --color-bg2: rgb(0, 17, 32);
  --color1: 255, 204, 0;
  --color2: 255, 179, 0;
  --color3: 255, 153, 0;
  --color4: 255, 128, 0;
  --color5: 255, 102, 0;
  --color-interactive: 207, 164, 24;
  --test: rgb(207, 164, 24);
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  .svgBlur {
    display: none;
  }

  .noiseBg {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    mix-blend-mode: soft-light;
    opacity: 0.3;
  }
  .gradients-container {
    z-index: 1;
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    z-index: 1;
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g6 {
    z-index: 1;
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    z-index: 1;
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    z-index: 1;
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    z-index: 1;
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    z-index: 1;
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    z-index: 1;
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

/* END OF FRONT PAGE MOVING INTERACTIVE BLOB GRADIENTS--------------------- */

/* MENU */

/* Menu button outer container */
.menu-btn-outer {
  position: fixed;
  top: 20px;
  right: 20px; /* Move the button to the right */
  width: auto; /* Increase the width */
  height: auto; /* Increase the height */
  overflow: hidden;
  z-index: 10000000;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-size: 1.7vw;
  cursor: pointer;
}

.menu-btn-outer > div {
  display: inline-block;
  vertical-align: middle;
}

.menu-btn-outer:hover .menu-btn,
.menu-btn-outer.activated .menu-btn {
  transform: scale(0.85, 0.85);
}

.menu-btn-outer:hover .line-1,
.menu-btn-outer.activated .line-1 {
  transform: rotate(90deg);
  top: 12px; /* Adjusted for larger size */
  max-width: 100%;
  background-color: #ddcb03;
}

.menu-btn-outer:hover .line-2,
.menu-btn-outer.activated .line-2 {
  margin-bottom: 0;
  max-width: 100%;
  background-color: #ddcb03;
}

.menu-btn-outer:hover .line-3,
.menu-btn-outer.activated .line-3 {
  right: -175%;
}

.menu-btn-outer.activated .menu-btn-circle {
  transform: rotate(45deg);
}

.menu-btn-outer.activated:hover .menu-btn {
  transform: scale(0.75, 0.75);
}

.menu-btn-outer.activated:hover .line-1,
.menu-btn-outer.activated:hover .line-2 {
  background-color: rgb(159, 198, 255);
}

/* Menu button circle */
.menu-btn {
  background-color: black;
  width: 70px; /* Increase width */
  height: 70px; /* Increase height */
  border: rgb(119, 196, 255) solid 6px; /* Increase border thickness */
  border-radius: 50%;
  position: relative;
  transition: 350ms;
  transform: scale(1, 1);
}

.menu-btn-circle {
  height: 30px; /* Increase height */
  width: 50px; /* Increase width */
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  transition: 300ms;
}

.menu-btn-circle > span {
  height: 6px; /* Increase thickness */
  width: 100%;
  display: block;
  float: right;
  position: absolute;
  right: 0;
  transition: 350ms;
}

.menu-btn-circle .line-1 {
  background-color: white;
  max-width: 35px; /* Increase max-width */
}

.menu-btn-circle .line-2 {
  background-color: #ddcb03;
  max-width: 50px; /* Increase max-width */
  top: 12px; /* Adjusted for larger size */
}

.menu-btn-circle .line-3 {
  background-color: white;
  max-width: 40px; /* Increase max-width */
  top: 24px; /* Adjusted for larger size */
}

/* Menu */
.menu {
  border-radius: 20px;
  border: #ffffff solid 3px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -50%; /* Change from left to right */
  width: 50%;
  height: 100%;
  /* background-color: #000000; */
  background-color: #8787877f;
  backdrop-filter: blur(10px);
  color: white;
  z-index: 1000000;
  transition: right 0.5s ease; /* Change from left to right */
}

.menu-content {
  padding: 20px;
}

.menu-content h2 {
  margin-top: 0;
}

.menu-content ul {
  list-style: none;
  padding: 0;
}

.menu-content ul li {
  margin: 20px 0;
}

.menu-content ul li a {
  color: white;
  text-decoration: none;
  font-size: 4vw;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.menu:active {
  right: -50%;
}
/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

/* Show menu and overlay */
.menu.show {
  right: 0;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

ul li {
  position: relative;
  list-style: none;
}

ul li a {
  position: relative;
  font-size: 4em;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0%;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}
.some-css-to-make-it-pretty {
  position: fixed;
  height: 90vh;
  justify-content: center;
  display: flex;
  flex-flow: column;
  z-index: 10000000;
  font-family: "Raleway", sans-serif;
}

.some-css-to-make-it-pretty h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .menu-word {
    display: none;
  }
  .menu-word > span {
    display: none;
  }

  .menu-word .close-text {
    display: none;
  }

  .menu {
    top: 100%;
    width: 100%; /* Cover the entire screen */
    height: 100%; /* Cover the entire screen */
    right: 0; /* Ensure it is aligned to the right */
    transition: top 0.5s ease; /* Change from left to right */
  }
  .menu.show {
    top: 30%;
  }
  .menu-content ul li {
    margin: 5px 0;
  }
  .menu-content ul li a {
    font-size: 10vw;
  }
}
